{% extends 'base.html' %}
{% block title %}Ristorante "Il Capo"{% endblock %}
{% block content %}
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='sources/ristoranteLogoNav.svg') }}" alt="Ristorante Il Capo" style="height: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#menu-section">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#reservation-section">Reservation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about_us-section">About Us</a>
            </li>
            {% if session.get('user_id') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.user_space')}}">User Space</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.logout')}}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login.login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('sign_up.sign_up')}}">Sign up</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('reviews.reviews')}}">Reviews</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container my-2 py3"></div>
  </main>
  <div class="hero-section" id="index">
    <div id="logo-animation" class="logo-animation">
      <img src="{{ url_for('static', filename='sources/RistoranteIndex-svg.svg') }}"  alt="Ristorante Il Capo open" class="logo-image">
    </div>
  </div>
  <div id="menu-section" class="scroll-section">
    {% include 'menu.html' %}
  </div>
  <div id="reservation-section" class="scroll-section">
    {% include 'reservation.html' %}
  </div>
  <div id="about_us-section" class="scroll-section">
    {% include 'about_us.html' %}
  </div>
<script>
</script>
{% endblock %}