{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card custom-card-color">
        <div class="card-body">
          <h5 class="card-title text-center">Change Password</h5>
          <form method="POST" action="{{ url_for('user.change_password') }}">
            <div class="form-group">
              <label for="inputCurrentPassword" class="custom-label">Current Password</label>
              <input type="password" class="form-control" id="inputCurrentPassword" name="currentPassword" placeholder="Current Password" maxlength="255" 
                pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.*\d)[A-Za-z\d!@#$%^&*]{8,}$" 
                required oninvalid="this.setCustomValidity('Password must be at least 8 characters long, with at least one uppercase letter, one symbol, and one number and no spaces')" 
                oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
              <label for="inputNewPassword" class="custom-label">New Password</label>
              <input type="password" class="form-control" id="inputNewPassword" name="newPassword" placeholder="New Password" maxlength="255" 
                pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.*\d)[A-Za-z\d!@#$%^&*]{8,}$" 
                required oninvalid="this.setCustomValidity('Password must be at least 8 characters long, with at least one uppercase letter, one symbol, and one number and no spaces')" 
                oninput="this.setCustomValidity('')">
            </div>
            <div class="form-group">
              <label for="inputConfirmPassword" class="custom-label">Confirm New Password</label>
              <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" placeholder="Confirm New Password" maxlength="255" 
                pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.*\d)[A-Za-z\d!@#$%^&*]{8,}$" 
                required oninvalid="this.setCustomValidity('Password must be at least 8 characters long, with at least one uppercase letter, one symbol, and one number and no spaces')" 
                oninput="this.setCustomValidity('')">
            </div>
            <div class="d-flex justify-content-center mt-3">
              <button type="submit" class="btn" id="buttonConfirmationChangePass">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
