html, body {
  
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
 
}

.navbar-toggler-icon-close {
  display: none;
}

.img-animate {
  max-width: 40%;
  height: auto;
}

#buttonReservation {
  background-color: #dfc99c;
  color: black;
  margin-top: 30px;
}

#buttonChangePass {
  background-color: #dfc99c;
  color: black;
  margin-top: 30px;
}

#buttonConfirmationChangePass {
  background-color: #dfc99c;
  color: black;
  margin-top: 30px;
}

#buttonConfirmation {
  background-color: #dfc99c;
  color: black;
  margin-top: 30px;
}

#reservation .card {
  border-radius: 10px; 
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1); 
  margin: 20px 0;
}

.custom-label {
  font-size: 16px;
}

.hero-section {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden; 
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/static/sources/background.webp') no-repeat center center/cover;
  filter: blur(3px);
  z-index: -1;
}

header {

  padding: 0px;

}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300vh; 
}

.scroll-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: white; 
}

@keyframes scrollReveal {
  from {
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    transform: scaleY(1);
    transform-origin: top;
  }
}

.img-animate {
  transform: scaleY(0);
  transition: transform 0.5s ease-in-out;
}

.img-animate.visible {
  animation: scrollReveal 1s forwards;
}

@keyframes formReveal {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-animate {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.form-animate.visible {
  opacity: 1;
}

.custom-card-color  {
  background-color: #f4f1e4;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-us-section {
  background-color: #f4f1e4; 
  flex: 1;
  padding: 20px; 
  box-sizing: border-box; 
  min-height: calc(100vh - 60px);
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #333; 
  color: #fff; 
  padding: 10px 0;
  text-align: center;
  width: 100%;
  flex-shrink: 0; 
  display: none; 
  position: absolute;
  bottom: 0;
  left: 0;

}
.footer.visible {
  display: block; 
}

.map-container {
  margin-left: 60px;
  margin-top: 90px;
  text-align: left;
  flex: 1;
  min-width: 40%; 
}

#textAboutUs {
  flex: 1;
  min-width: 20%; 
  margin-left: 16%;
  font-size: 20px;
  margin-top: -2%;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info .logo {
  width: 3%;
  height: 1%;
  margin-right: 3%
}

.logo-animation {
  animation: fadeIn 2s forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-image {
  width: 800px;
  height: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.logo-animation.stay {
  position: fixed;
}

#mondayWarning {
  font-size: 10px;
}

#timeWarning {
  font-size: 10px;
}

#currentTimeWarning {
  font-size: 10px;
}

@media (max-width: 767px) {
  .map-container {
    margin-top: 20px; 
    min-width: 100%; 
    display: flex;

  }
  
  #textAboutUs {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -40%;
    font-size: 13px;
  }

  .img-animate {
    max-width: 100%;
  }

  .logo-image {
    width: 400px;
    height: auto;
  }
}

.reservation-list-container {
  max-height: 600px; 
  overflow-y: auto;
}

.user_space-background {
  background-color: #f4f1e4; 
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#buttonSign_up {
  background-color: #dfc99c;
  color: black;
  margin-top: 30px;
}