{% extends 'base.html' %}

{% block title %}Ristorante "Il Capo"{% endblock %}
{% block content %}

<div class="bg">
  <div class="menu-area menu-1">
      <div class="card card-hover">
          <img src="static/sources/menu.png" class="card-img-top" alt="menu">
      </div>
  </div>

  <div class="menu-area hour-1">
    <div class="card card-hover small-card-hover">
        <img src="static/sources/menu.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Menu 2</h5>
            <p class="card-text">This is menu 2 description.</p>
        </div>
    </div>
</div>
</div>


<script>

</script>


{% endblock %}