{% extends 'base.html' %}

{% block title %}Reservation{% endblock %}
{% block content %}

<div class="container my-5 d-flex justify-content-center align-items-center" id="reservation" style="overflow-y: auto; max-height: 80vh;">
  <div class="card w-100 form-animate custom-card-color" style="max-width: 600px;">
    <div class="card-body">
      <h5 class="card-title text-center" style="font-weight: bold; font-size: 24px;">Reservation</h5>
     

      <form method="POST" action="{{ url_for('reservation') }}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName" class="custom-label">Name</label>
            {% if user_name %}
              <input type="text" class="form-control" id="inputNameUser" name="name" placeholder="Name" maxlength="50" value="{{ user_name }}" pattern="^[A-Za-z]+( [A-Za-z]+)?$" readonly>
            {% else %}
              <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" maxlength="50" pattern="^[A-Za-z]+( [A-Za-z]+)?$" required>
            {% endif %}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPeople" class="custom-label">Number of People</label>
            <select class="form-control" id="inputPeople" name="totalPerson" required>
              {% for i in range(1, 11) %}
                <option>{{ i }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputDate" class="custom-label">Date</label>
            <input type="date" class="form-control" id="inputDate" name="date" required>
          </div>
          <div class="form-group col-md-12 mt-2">
            <div id="mondayWarning" class="alert alert-danger text-center" style="display: none;">
              Ristorante "Il Capo" is closed on Mondays. Please choose a date between Tuesday and Sunday.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputTime" class="custom-label">Time</label>
          <input type="text" class="form-control" id="inputTime" name="time" required>
        </div>
        <div class="form-group col-md-12 mt-2">
          <div id="timeWarning" class="alert alert-danger text-center" style="display: none;">
            Ristorante 'Il Capo' is open from 12:00 to 23:00. Please choose a time between 12:00 and 23:00.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail" class="custom-label">E-mail</label>
          {% if user_email %}
            <input type="email" class="form-control" id="inputEmailUser" name="email"  value="{{ user_email }}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" readonly>
          {% else %}
            <input type="email" class="form-control" id="inputEmail" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
          {% endif %}
        </div>
        <div class="form-group d-flex justify-content-center">
          <button type="submit" id="buttonReservation" class="btn">Validation</button>
        </div>
      </form>
    </div>
  </div>
</div>





<script>

  document.addEventListener('DOMContentLoaded', function() {
    flatpickr("#inputTime", {
      enableTime: true,
      noCalendar: true,
      dateFormat: "H:i",
      time_24hr: true,
      minTime: "12:00",
      maxTime: "23:00"
    });

    var today = new Date();
    var tomorrow = new Date();
    tomorrow.setDate(today.getDate() + 1);
    var dd = String(tomorrow.getDate()).padStart(2, '0');
    var mm = String(tomorrow.getMonth() + 1).padStart(2, '0'); 
    var yyyy = tomorrow.getFullYear();
    var minDate = yyyy + '-' + mm + '-' + dd;
    document.getElementById('inputDate').setAttribute('min', minDate);
    
    document.getElementById('inputDate').addEventListener('input', function(e) {
      const inputDate = new Date(e.target.value);
      const dayOfWeek = inputDate.getUTCDay();
      const warning = document.getElementById('mondayWarning');
      if (dayOfWeek === 1) {
        e.target.value = ''; 
        warning.style.display = 'block';
      } else {
        warning.style.display = 'none';
      }
    });

    document.getElementById('inputTime').addEventListener('input', function(e) {
      const time = e.target.value;
      const [hours, minutes] = time.split(':').map(Number);
      const warning = document.getElementById('timeWarning');
      if (hours < 12 || hours >= 23) {
        e.target.value = '';
        warning.style.display = 'block';
      } else {
        warning.style.display = 'none';
      }
    });
  });

</script>


{% endblock %}